body {
  padding-bottom: 20px;
}

/* Custom footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  background: url("../img/stadium-with-crowd-filtered.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

/* Centralise text in jumbotron */
.jumbotron .container {
  text-align: center;
}