nav.navbar {
  margin-bottom: 0px;
}

/* So that drop down menu on nav bar appears on mouse hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  padding-bottom: 20px;
}

figure {
  padding: 20px 0px;
}


.jumbotron {
  background: url("../img/stadium-with-crowd-filtered.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

/* Centralise text in jumbotron */
.jumbotron .container {
  text-align: center;
}

.thead-row-color {
  background-color: #dbe9f2;
}

.thead-row-color > th {
  color: #639EC8;
}

.profile-body {
  padding-top: 30px;
}

div.form-group {
  margin: 5px 0px;
  position: relative;
}

div#graph_container {
  min-width: 300px;
  margin: 0px auto;
  padding-top: 10px;
}

#update_graph, div.form-group button.btn-danger {
  margin-left: 5px;
}

#gameweek {
  margin-bottom: 5px;
}

.table-hover tbody {
  cursor: pointer;
}

.table-hover > tbody > tr:hover {
  background-color: #dbe9f2;
}

.table-hover > tbody > tr.no-bg, .table-hover > tbody > tr.no-bg:hover {
  background-color: transparent;
  cursor: default;
}

@media (max-width: 768px) {
  .sm-screen {
    margin: 10px 0px;
  }
}

/* Custom footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

label.labels {
  width: 55px;
}