nav.navbar {
  margin-bottom: 0px;
  background-color: #dbe9f2;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus, .nav .open > a,
.nav .open > a:focus, .nav .open > a:hover {
  background-color: #fff;
}

/* So that drop down menu on nav bar appears on mouse hover */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }  
}

.icon-bar {
  background-color: #337ab7;
}

.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle[aria-expanded="true"] {
  background-color: #fff;
}

.popover-title {
  background-color: rgba(219,233,242,0.3);
  border: 0;
}

body {
  padding-bottom: 20px;
}

.profile-body {
  padding-top: 30px;
}

.thead-row-color, .dropdown-menu> li > a:hover {
  background-color: #dbe9f2;
}

.thead-row-color > th {
  color: #639EC8;
}

/* Custom footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 25px;
}
