.jumbotron {
  background: url("../img/stadium-with-crowd-filtered.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

/* Centralise text in jumbotron */
.jumbotron .container {
  text-align: center;
}