/** Stylesheet for the player filter page.
 ** @author: Darren Vong
 **/

div.filter-block {
  max-height: 300px;
  border: 1px solid rgb(204,204,204);
  border-radius: 7px;
  padding: 2px 10px;
}

.players_on_page {
  float: right;
  padding-bottom: 10px;
}

.ranked_table {
  padding-top: 20px;
}

#startTime, #endTime {
  margin: 5px 0;
}

.num_players_label {
  font-weight: 700;
}

#num_players {
  font-weight: normal;
}
