figure {
  padding: 20px 0px;
}

.center-searchbar {
  text-align: center;
  font-size: 20px;
}

.large-searchbar-btn {
  font-size: 20px;
}

label.labels {
  width: 70px;
  margin-top: 5px;
}

.profile-body {
  padding-top: 30px;
}

div.form-group {
  margin: 5px 0px;
  position: relative;
}

div#graph_container {
  min-width: 300px;
  margin: 0px auto;
  padding-top: 10px;
}

div.form-group > a {
  color: #1d1d1d;
}

#update_graph, div.form-group button.btn-danger {
  margin-left: 5px;
}

#gameweek {
  margin-bottom: 5px;
}

.table-hover tbody {
  cursor: pointer;
}

.table-hover > tbody > tr:hover {
  background-color: #dbe9f2;
}

.table-hover > tbody > tr.no-extra-info, .table-hover > tbody > tr.no-extra-info:hover {
  background-color: transparent;
  cursor: default;
}

div.performance_metrics select.form-control {
  width: 250px;
}

/* Overriding jQuery's default */
li.ui-menu-item.ui-state-focus {
  border: 1px solid #dbe9f2;
  background: #dbe9f2;
  font-weight: normal;
  color: #2b2b2b;
}

@media (max-width: 768px) {
  .sm-screen {
    margin: 10px 0px;
  }
}